{% extends "layout.html" %}

{% block title %}Agregar tarea{% endblock %}

{% block content %}

<a href="{{ url_for('menu') }}" class="btn btn-secondary mb-3">← Volver al menú</a>
<h1 class="mb-4">Agregar tarea</h1>
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="post" class="card card-body">
    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" name="titulo" class="form-control" required value="{{ titulo or '' }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input type="text" name="descripcion" class="form-control" value="{{ descripcion or '' }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha (dd-mm-aaaa)</label>
        <input type="text" name="fecha" class="form-control" value="{{ fecha or '' }}">
    </div>

    <div class="mb-3">
    <label class="form-label">Categoría</label>
    <input type="text" name="categoria" class="form-control" value="{{ categoria or '' }}">
    </div>


    <div class="mb-3">
        <label class="form-label">Prioridad</label>
        <select name="prioridad" class="form-select">
            <option value="alta" {% if prioridad == 'alta' %}selected{% endif %}>Alta</option>
            <option value="media" {% if prioridad == 'media' %}selected{% endif %}>Media</option>
            <option value="baja" {% if prioridad == 'baja' %}selected{% endif %}>Baja</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar tarea</button>
</form>

{% endblock %}
