{% extends "layout.html" %}

{% block title %}Editar Tarea{% endblock %}

{% block content %}

<a href="{{ url_for('ver_tareas') }}" class="btn btn-secondary mb-3">← Volver a tareas</a>

<h1 class="mb-4">Editar tarea: {{ tarea.titulo }}</h1>

<form method="post" class="mb-5">

    <div class="mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" name="titulo" class="form-control" value="{{ tarea.titulo }}">
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" class="form-control" value="{{ tarea.descripcion }}">
    </div>

    <div class="mb-3">
        <label for="fecha_vencimiento" class="form-label">Fecha de vencimiento (dd-mm-aaaa):</label>
        <input type="text" id="fecha_vencimiento" name="fecha_vencimiento" class="form-control" value="{{ tarea.fecha_vencimiento }}">
    </div>

    <div class="mb-3">
    <label for="categoria" class="form-label">Categoría:</label>
    <input type="text" id="categoria" name="categoria" class="form-control" value="{{ tarea.categoria }}">
    </div>

    <div class="mb-3">
        <label for="prioridad" class="form-label">Prioridad:</label>
        <select id="prioridad" name="prioridad" class="form-select">
            <option value="alta" {% if tarea.prioridad == 'alta' %}selected{% endif %}>Alta</option>
            <option value="media" {% if tarea.prioridad == 'media' %}selected{% endif %}>Media</option>
            <option value="baja" {% if tarea.prioridad == 'baja' %}selected{% endif %}>Baja</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}
